<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="login.css">
</head>
<body>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
	<div class="box">
		<form action="login" method="post">
			{% csrf_token %}
			<h2>Sign in</h2>
			<div class="inputBox">
				<input type="text" name="username" required="required">
				<span>User Name</span>
				<i></i>
			</div>

			<div class="inputBox">
				<input type="password" name="password"  required="required">
				<span>Password</span>
				<i></i>
			</div>
			<div class="links">
				<a href="#">Forgot Password ?</a>
				<a href="register">Signup</a>
			</div>
			<input type="submit" value="Login">
		</form>
		 {% for message in messages%}
    <h3>{{message}}</h3>
    {% endfor %}
	</div>
</body>
</html>